@import url("./xeral.css");

body {
    position: relative;
    background-image: url("../img/fcitas.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 1rem;
    top: 90px;
}

.cajon {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: stretch;
    background-color: #464649;
    width: 75%;

    height: fit-content;
    padding: 20px;
    border-radius: 59px;

}

.cajon .fila {
    color: #fafafa;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    flex-wrap: wrap;
    width: auto;
    padding-bottom: 25px;
    text-align: right;

}

.fila input {
    border-radius: 8px;
    border: 1px solid #fafafa;
    background-color: #E7F2FF;
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    /*aumentamos tamaño letra, la distancia entre letras y el tamaño del input*/
    font-size: 1.1rem;
    letter-spacing: 5px;
    /*centramos el texto*/
    text-align: center;
    /*hacemos no modificable el input*/
    resize: none;
    /*cambiamos el cursor*/
    cursor: default;
}

.fila h5 {
    color: #c0c0c0;
    margin: 0;
    margin-left: 20px;
    font-size: 0.9rem;
    /*pegamos a la derecha*/

    padding: 0;
    font-weight: 400;
}

.t {
    position: relative;
    width: 250px;
    height: fit-content;

}

/*damos estilo al desplegable*/
select {
    border-radius: 8px;
    border: 1px solid #fafafa;
    background-color: #E7F2FF;
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    /*aumentamos tamaño letra, la distancia entre letras y el tamaño del input*/
    font-size: 1.1rem;
    letter-spacing: 8px;
    /*centramos el texto*/
    text-align: center;
    /*hacemos no modificable el input*/
    resize: none;
    /*cambiamos el cursor*/
    cursor: default;

}

/*damos estilo al calendario*/
input[type="date"] {
    border-radius: 8px;
    border: 1px solid #fafafa;
    background-color: #E7F2FF;
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    /*aumentamos tamaño letra, la distancia entre letras y el tamaño del input*/
    font-size: 1.1rem;
    letter-spacing: 7px;
    /*centramos el texto*/
    text-align: center;
    /*hacemos no modificable el input*/
    resize: none;
    /*cambiamos el cursor*/
    cursor: default;

}
.centrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.centrar button {
    /* _Button base */

    box-sizing: border-box;

    position: relative;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 8px;
    font-size: large;
    /* Primary/600 */
    background: #7F56D9;
    /* Primary/600 */
    border: 1px solid #7F56D9;
    /* Shadow/xs */
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    color: #FFFFFF;
    cursor: pointer;

}





button {
    background-color: #7F56D9;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #6B6B6D;
    width: 600px;
    height: fit-content;
    max-width: 100%;
    padding: 30px 80px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
}

.modal h1 {
    margin: 0;
}


.modal p {
    opacity: 0.8;
    font-size: 20px;
    margin: 10px;
}